# Ignore node_modules directory for JavaScript projects
node_modules/

# Ignore log files
*.log

# Ignore compiled files
*.o
*.pyc

# Ignore temporary files
*~

# Ignore virtual env
.venv
.venv1

# Ignore datasets
datasets/
wandb
